{% extends 'UnleashedShortenUrlBundle::layout.html.twig' %}

{% block title %}View Url - {% endblock %}

{% block styles %}
    {{ parent() }}

{% endblock %}

{% block js %}
    {{ parent() }}
    
    {% javascripts
        '@UnleashedShortenUrlBundle/Resources/public/js/view/app.js'
        '@UnleashedShortenUrlBundle/Resources/public/js/view/script.js'
        output = 'js/compiled/view/main.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    
    <div id="view-wrap">
        <div class="lg-logo">
            <img src="http://2013.bluedropawards.org/sites/default/files/UTlogo_3.png" alt="Unleashed Technologies" />
        </div>

        <div class="table data url-wrap">
            <div class="shrink">
                <div class="row">
                    <span class="label cell">Your Shortened Url:</span>
                    <span class="cell">
                        <a target="_blank" class="load-redirect" href="{{ data.shortenedUrl }}">{{ data.shortenedUrl|slice(0, 60) }}</a></span>
                </div>
                <div class="row">
                    <span class="label cell">Original Link:</span><span class="cell">{{ data.url.fullUrl|slice(0, 60) }}{% if data.url.fullUrl|length > 60 %}...{% endif %}</span>
                </div>
                <div class="row">
                    <span class="label cell">Short Code:</span><span class="cell">{{ data.url.urlCode }}</span>
                </div>
                <div class="row">
                    <span class="label cell">Date Created:</span><span class="cell">{{ data.url.dateAdded|date('Y-m-d') }}</span>
                </div>
            </div>
        </div>
        
        <div id="qr-wrap">
            <div>
                
            </div>
            <div class="pull-left qr-label">
                <span class="label cell">Qr Code: </span>
            </div>

            <div class="cell pull-left">
                <a target="_blank" class="load-redirect" href="{{ data.shortenedUrl }}">
                    <img alt="{{ data.shortenedUrl }}"src="{{ qrcode_url(data.shortenedUrl, size=200, padding=10) }}" />
                </a>
            </div>
            <div class="clear"></div>
        </div>

        <div id="analytics">
            <div class="table data stats-wrap">
                <div class="shrink">
                    <div class="row">
                        <span class="label cell">Total Redirects:</span><span class="cell">{{ data.url.redirectCount }}</span>
                    </div>
                    {% if data.url.currentUserRedirects is not empty and data.url.currentUserRedirects > 0 %}
                        <div class="row">
                            <span class="label cell">Your Redirects:</span><span class="cell">{{ data.url.currentUserRedirects }}</span>
                        </div>
                    {% endif %}
                    <div class="row">
                        <span class="label cell">Last Redirect:</span>
                        <span class="cell">
                            {% if data.url.getUsersByIps[0].lastRedirect is defined and data.url.getUsersByIps[0].lastRedirect is not empty %}
                                {{ data.url.getUsersByIps[0].lastRedirect|date('Y-m-d') }}
                            {% else %}
                                <a target="_blank" class="load-redirect" href="{{ data.shortenedUrl }}">Click Here</a> to be the First 
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input type="hidden" id="urlCode" value="{{ data.url.urlCode }}" />
        </div>
    </div>
    
{% endblock %}